:root{
    --cores-dancantes:#0000,#1246
    --gradient: linear-gradient(135deg, #6495ed 10%, #5151e5 100%);
    --bg-color: #343d4b;
    --bg-color--card: #222831;

    --main-text-color: #ffffff;
    --main-card-color: rgba(221, 221, 221, 0.486);

    --main-border-radius: 25px;
    --secondary-border-radius: 15px;
}

.nav {
    padding: 0 50px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.nav__title {
    font-weight: 300;
}
.sub2{
    background-color: #002f4d;
    color: #fff;
    width: 100%;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__link--menu{
    /* list-style: none; */
    display: flex;
    justify-content: space-around;
    /* padding: 15px 20px; */
}

.nav__link > li > a{
    display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}

.nav__items {
    list-style: none;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    /* background-color: #02487348; */
    width: 200px;
}

.nav__link--menu li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: #02487348;
}

.menu-vertical li a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 15px 15px 0;
}

.nav__links {
    color: #fff;
    text-decoration: none;
    /* padding: 15px 20px; */
    display: block;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}


img{
    max-width: 80px;
    max-height: 80px;
    /* color: #5151e5;
    color: #6495ed; */
}
body{
    width: 100%;
    height: 100vh;
    /* background-color: var(--bg-color); */
    color: var(--main-text-color);
    /* margin: 20px; */
}
.container{
   
    text-align: center;
    border-radius: var(--main-border-radius);
    -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.274);
    box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.274);
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../nils-nedel-ONpGBpns3cs-unsplash.jpg');
    background-size: cover;
    color: var(--main-text-color);
    width: 90%;
    max-width: 900px;
    min-height: 400px;
    padding: 40px;
    /* margin: 30px 0; */
}
.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(4,1FR); */
    align-items: center;
    justify-content: center;
   
}
.cards>div{
    background-color: var(--main-card-color); 
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 174px;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

input {
    border-radius: var(--main-border-radius);
}

#button {
    border: none;
    border-radius: var(--main-border-radius);
    padding: 0.65rem;
    background-image: linear-gradient(135deg, #222831 5%, #375792 55%, #222831 95%);
    color: #fff;
    font-weight: 700;
    box-shadow: 0 0 30px -5px rgba(142, 142, 142, 0.463);
    cursor: pointer;
    line-height: initial;
    width: 100%;
}

#button:hover {
    color: var(--main-text-color);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}
